---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About Sentinel",
};
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">About</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			Sentinel Watch Only is your online companion for your offline and cold storage bitcoin wallets. Available on mobile for Android only.
		</p>
		<p>Launched in 2015 by the developers of Samourai Wallet, it is the first and most feature filled offline and cold storage wallet management tool. Designed to work seamlessly with Samourai Wallet and other popular wallet software.</p>
		<ul class="list-inside list-disc" role="list">
			<li>Keep your private keys private. Sentinel is public key based.</li>
			<li>Keep watch of any bitcoin address or public keys</li>
			<li>Receive into your offline or cold storage bitcoin wallet</li>
			<li>Build and broadcast offline bitcoin transactions</li>
			<li>Connect to your own full node</li>
			<li>Route everything over Tor</li>
		</ul>
		<p>
			Clone or fork my <a
				aria-label="github repository"
				class="citrus-link inline-block"
				href="https://github.com/artemkutsan/astro-citrus"
				rel="noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>
	</div>

</PageLayout>
